.home-right-bar-wrapper {
    background-color: white;
    padding: 20px;
}

.users-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.users-list li{
    margin-bottom: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-details-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 10px;
}
.user-name{
    font-size: 18px;
    font-weight: bold;
}
.user-joined{
    font-size: 12px;
    font-weight: 600;
}